.navbar {
    padding: 15px 0;
    background-color: rgb(118, 29, 29);
}

.body {
    font-family: 'Poppins', sans-serif;
    background-color: #FEF9E1;
    background-image: url('5f44b733ad60c_ori.jpg');
    padding-top: 10px;
}       