body {
    margin: 0;
    padding: 0;
    background-color:#F3E9DC;
}

.awal img {
   height: 110vh;
   width: 99.2vw;
}

.navbar {
    background: #D96F32;
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color:#F3E9DC;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.navbar ul li a:hover {
    background-color: #D96F32;
    border-radius: 5px;
}

.rectangle-1{
    /* background-color:#F3E9DC;
    border: 1px solid #000000;
    border-radius: 2rem;
    width: 60vw;
    height: 50vh;
    position: relative;
    bottom: 0rem;
    top: 570px;
    left: 300px; */
    /* justify-content: center; */
    align-items: center;
    position: relative;
    justify-content: center;
}

.gmbr {
    
    position: relative;
    text-align: center;
    top: 10px;
    width: 5rem;
    height: 5rem;
}

.font {
    font-family: "Crimson Pro";
    text-align: center;
    
}


.textrec {
    position: relative;
    top: 15px;
    font-size: 18px;
    text-align: center;
    bottom: 53rem;
}

.rectangle-3 {
    background-color:#F3E9DC;
    border-radius: 1.5rem;
    width: 18vw;
    height: 30vh;
    position:absolute;
    left: 100px;
}

.foto {
    /* size: 100px; */
    justify-content: center;
    align-items: center;
    padding: 1;
}